ws-interface/src/main/webapp/wsdl/morseservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.example.org/morseservice/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:req1="http://www.example.org/morseservice/encoderequest/" 
xmlns:res1="http://www.example.org/morseservice/encoderesponse/"
xmlns:req2="http://www.example.org/morseservice/decoderequest/"
xmlns:res2="http://www.example.org/morseservice/decoderesponse/"
xmlns:exc="http://www.example.org/morseservice/exception/"
name="morseservice" 
targetNamespace="http://www.example.org/morseservice/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/morseservice/">
      <xsd:import namespace="http://www.example.org/morseservice/encoderequest/" schemaLocation="encoderequest.xsd"/>
      <xsd:import namespace="http://www.example.org/morseservice/encoderesponse/" schemaLocation="encoderesponse.xsd"/>
      <xsd:import namespace="http://www.example.org/morseservice/decoderequest/" schemaLocation="decoderequest.xsd"/>
      <xsd:import namespace="http://www.example.org/morseservice/decoderesponse/" schemaLocation="decoderesponse.xsd"/>
      <xsd:import namespace="http://www.example.org/morseservice/exception/" schemaLocation="exception.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="encoderequest">
    <wsdl:part element="req1:EncodeRequest" name="encoderequest"/>
  </wsdl:message>
  <wsdl:message name="encoderesponse">
    <wsdl:part element="res1:EncodeResponse" name="encoderesponse"/>
  </wsdl:message>
  <wsdl:message name="decoderequest">
    <wsdl:part element="req2:DecodeRequest" name="decoderequest"/>
  </wsdl:message>
      <wsdl:message name="decoderesponse">
    <wsdl:part element="res2:DecodeResponse" name="decodereponse"/>
  </wsdl:message>
  <wsdl:message name="applicationfault">
    <wsdl:part element="exc:MorseServiceException" name="applicationfault"/>
  </wsdl:message>  
  <wsdl:portType name="MorseServiceSoap">
    <wsdl:operation name="encode">
      <wsdl:input message="tns:encoderequest"/>
      <wsdl:output message="tns:encoderesponse"/>
      <wsdl:fault name="applicationfault" message="tns:applicationfault"/>
    </wsdl:operation>
    <wsdl:operation name="decode">
      <wsdl:input message="tns:decoderequest"/>
      <wsdl:output message="tns:decoderesponse"/>
      <wsdl:fault name="applicationfault" message="tns:applicationfault"/>
    </wsdl:operation>    
  </wsdl:portType>
  <wsdl:binding name="MorseServiceSoap" type="tns:MorseServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="encode">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="applicationfault">
      	<soap:fault name="applicationfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="decode">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="applicationfault">
      	<soap:fault name="applicationfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:service name="MorseService">
    <wsdl:port binding="tns:MorseServiceSoap" name="MorseServiceSoap">
      <soap:address location="http://java.simonwhiteley.nl/ws-producer/ws-producer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
